[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "~=3.0"
ics = "~=0.6"
wheel = "~=0.33"
pyyaml = "~=5.1"
pyparsing = "~=2.4"
jinja2 = "~=2.11"
flake8 = "~=3.7"
filelock = "~=3.0"
pytz = "~=2019.1"
packaging = "~=19.0"

[dev-packages]
pyfakefs = "~=3.6"
bumpversion = "~=0.5"
wheel = "~=0.34"
"flake8" = "~=3.7"
watchdog = "~=0.10"
tox = "~=3.14"
coverage = "~=5.0"
sphinx = "~=2.4"
twine = "~=3.1"
recommonmark = "~=0.6"
sphinx-rtd-theme = "~=0.4"

[requires]
python_version = "3.7"
