[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
ics = "*"

[dev-packages]
pyfakefs = "*"
bumpversion = "*"
wheel = "*"
"flake8" = "*"
watchdog = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
