[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "~=3.0"
ics = "*"
wheel = "~=0.33"
pyyaml = "~=5.1"
pyparsing = "~=2.4"
jinja2 = "~=2.10"
flake8 = "~=3.7"
filelock = "~=3.0"
coverage = "~=4.5"
pytz = "~=2019.1"
packaging = "~=19.0"

[dev-packages]
pyfakefs = "~=3.6"
bumpversion = "*"
wheel = "~=0.34"
"flake8" = "*"
watchdog = "~=0.10"
tox = "~=3.14"
coverage = "*"
sphinx = "~=2.4"
twine = "~=3.1"
recommonmark = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
